@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');


body {
    font-family: "Mate+SC", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.no-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}



/*----------------------Landing Page*/

.main-background {
    width: 100%;
    height: 100%;
    background: url(../images/index_page_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page-h1 {
    font-size: 45px;
    text-align: center;
    color: #fff;
    margin: 30px 0 30px 0;
}

#landing-page-nav {
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#landing-page-nav li a {
    text-decoration: none;
    color: inherit;
}

li {
    color: #fff;
}

.active:hover {
    color: #ffcc00;
}

.inactive-modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active-modal {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: #fff;
    position: relative;
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal button {
    padding: 10px 30px;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    font-weight: bold;
}

/*...................Anagram Page*/

.anagram-background {
    width: 100%;
    height: 100%;
    background: url(../images/anagram_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#anagram-page-nav {
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#anagram-page-nav li a {
    text-decoration: none;
    color: inherit;
}

.back-btn {
    margin: 15px 0 15px 0;
    color: #fff;
}
