@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
    font-family: "Kalam", sans-serif;
}

/*----------------------Landing Page*/

.main-background {
    width: 100%;
    height: 100%;
    background-image: url(..images/landing_page_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page-h1 {
    font-size: 45px;
    text-align: center;
}

#landing-page-nav {
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
}

#landing-page-nav li a {
    text-decoration: none;
    color: inherit;
}